body {
	padding: 20px;
	font-family: monospace;
	.App {
		font-size: 1.2rem;
		h1 {
			font-size: 2.5rem;
			color: #777;
			font-weight: bold;
			margin: 0 0 20px 0;
		}
		h2 {
			font-size: 2rem;
			color: #777;
			font-weight: bold;
			margin: 10px 0;
			background-color: #eee;
			padding: 5px;
		}
		h1:not(:first-of-type) {
			margin-top: 20px;
		}
		ul {
			list-style-type: disc;
			margin: 0 0 0 30px;
		}
	}
	div.userCard {
		background-color: #eee;
		color:#777;
		margin: 0 0 10px 0;
		padding: 10px;
		font-size: 1.3rem;
		.row {
			display: flex;
			.data {
				margin: 0 0 5px 10px;
				font-family: "Courier New", Courier, monospace;
				color: rgb(0, 81, 156);
			}
		}
		div.iconRow {
			margin: 5px 0 0 0;
			display: flex;
			button {
				margin: 0 5px 0 0;
				background-color: rgba(0, 81, 156, 0.37);
				width: 30px;
				padding: 6px 0 3px 0;
				border: none;
			}
		}
	}
	.topRow {
		margin: 0 0 20px 0;
	}
}

