.App {
  padding: 20px;
  font-family: monospace;
  font-size: 1.2rem;
  h1 {
    font-size: 2.5rem;
    color: #777;
    font-weight: bold;
    margin: 0 0 20px 0;
  }
  h2 {
    color: #777;
  }
  .addUserBtn {
    padding: 10px;
    margin: 10px 0;
    color: rgb(0, 81, 156);
  }
  div.addUserArea {
    padding: 8px;
    margin: 5px 0;

    form {
		border: 4px solid  rgba(0, 81, 156, 0.3);
		padding: 10px;
		width:fit-content;

      div.row {
		color: #666;
		padding: 2px ;
		display: flex;
		justify-content: space-between;
      }

      div.formButtonArea {
		button{
			padding: 5px;
			margin: 5px;
		}
      }
    }
  }

  section.users {
    div.userCard {
      background-color: #eee;
      color: #777;
      margin: 0 0 10px 0;
      padding: 10px;
      font-size: 1.3rem;
      .row {
        display: flex;
        .data {
          margin: 0 0 5px 10px;
          font-family: "Courier New", Courier, monospace;
          color: rgb(0, 81, 156);
        }
      }
      div.iconRow {
        margin: 5px 0 0 0;
        display: flex;
        button {
          margin: 0 5px 0 0;
          background-color: rgba(0, 81, 156, 0.37);
          width: 30px;
          padding: 6px 0 3px 0;
          border: none;
        }
      }
    }
    .topRow {
      margin: 0 0 20px 0;
    }
  }
}